#main-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 140px;
}
#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px 0;
}
/* .quiz-page {
    display: none;
} */
.quiz-page:target {
    display: block;
}